USE [master]
GO


IF EXISTS (SELECT name FROM sys.databases WHERE name = N'RestaurantDB')
BEGIN
    ALTER DATABASE [RestaurantDB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [RestaurantDB];
END
GO

CREATE DATABASE [RestaurantDB]
GO

USE [RestaurantDB]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[Notes] [nvarchar](255) NULL,
	[CustomerID] [int] NULL,
 CONSTRAINT [PK__Address__091C2A1B7398E606] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Admin__719FE4E884F750C6] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Branch](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[RestaurantID] [int] NULL,
	[CuisineID] [int] NULL,
 CONSTRAINT [PK__Branch__A1682FA535C4C120] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Category__19093A2BA2700618] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Cuisine](
	[CuisineID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Cuisine__B1C3E7ABA7EFA57C] PRIMARY KEY CLUSTERED 
(
	[CuisineID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
 CONSTRAINT [PK__Customer__A4AE64B87D5412ED] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Delivery](
	[DeliveryID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[OrderID] [int] NULL,
	[AgentID] [int] NULL,
 CONSTRAINT [PK__Delivery__626D8FEE660051C4] PRIMARY KEY CLUSTERED 
(
	[DeliveryID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DeliveryAgent](
	[AgentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[VehicleType] [nvarchar](50) NULL,
 CONSTRAINT [PK__Delivery__9AC3BFD111817AB2] PRIMARY KEY CLUSTERED 
(
	[AgentID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[MenuItem](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[BranchID] [int] NULL,
	[CategoryID] [int] NULL,
 CONSTRAINT [PK__MenuItem__727E83EBE85C9415] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
 CONSTRAINT [PK__OrderDet__64B7B3910B38919E] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ItemID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[CustomerID] [int] NULL,
	[BranchID] [int] NULL,
	[PromoID] [int] NULL,
 CONSTRAINT [PK__Orders__C3905BAF79E587E7] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](10, 2) NULL,
	[Method] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[OrderID] [int] NULL,
 CONSTRAINT [PK__Payment__9B556A5806B1C9C4] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Promotion](
	[PromoID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[DiscountPercentage] [decimal](5, 2) NULL,
	[ExpiryDate] [date] NULL,
 CONSTRAINT [PK__Promotio__33D334D0D7C0F4D6] PRIMARY KEY CLUSTERED 
(
	[PromoID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Restaurant](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[LogoURL] [nvarchar](255) NULL,
 CONSTRAINT [PK__Restaura__87454CB5B4D3E012] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](255) NULL,
	[OrderID] [int] NULL,
 CONSTRAINT [PK__Review__74BC79AE0E978714] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ShoppingCart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[MenuItemId] [int] NOT NULL,
 CONSTRAINT [PK__Shopping__51BCD797FDF1D4D5] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)
) ON [PRIMARY]
GO

-- =============================================
-- 3. إدخال البيانات (Data Insertion)
-- =============================================
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251213191807_InitialCreate', N'8.0.22')
GO

SET IDENTITY_INSERT [dbo].[Address] ON 
INSERT [dbo].[Address] ([AddressID], [Street], [City], [Notes], [CustomerID]) VALUES (12, N'10 Tahrir St', N'Cairo', N'Near Metro', 1)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO

SET IDENTITY_INSERT [dbo].[Admin] ON 
INSERT [dbo].[Admin] ([AdminID], [Username], [Password]) VALUES (1, N'Ahmed Ezzat', N'2004')
INSERT [dbo].[Admin] ([AdminID], [Username], [Password]) VALUES (2, N'admin', N'123')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO

SET IDENTITY_INSERT [dbo].[Branch] ON 
INSERT [dbo].[Branch] ([BranchID], [Location], [PhoneNumber], [RestaurantID], [CuisineID]) VALUES (1, N'Imbaba, Cairo', N'0101111111', 1, 1)
INSERT [dbo].[Branch] ([BranchID], [Location], [PhoneNumber], [RestaurantID], [CuisineID]) VALUES (2, N'Nasr City, Cairo', N'19999', 2, 2)
INSERT [dbo].[Branch] ([BranchID], [Location], [PhoneNumber], [RestaurantID], [CuisineID]) VALUES (3, N'Maadi, Cairo', N'16666', 3, 4)
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO

SET IDENTITY_INSERT [dbo].[Category] ON 
INSERT [dbo].[Category] ([CategoryID], [Name]) VALUES (1, N'Main Dish')
INSERT [dbo].[Category] ([CategoryID], [Name]) VALUES (2, N'Appetizer')
INSERT [dbo].[Category] ([CategoryID], [Name]) VALUES (3, N'Dessert')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO

SET IDENTITY_INSERT [dbo].[Cuisine] ON 
INSERT [dbo].[Cuisine] ([CuisineID], [Name]) VALUES (1, N'Egyptian')
INSERT [dbo].[Cuisine] ([CuisineID], [Name]) VALUES (2, N'Italian')
INSERT [dbo].[Cuisine] ([CuisineID], [Name]) VALUES (3, N'Syrian')
SET IDENTITY_INSERT [dbo].[Cuisine] OFF
GO

SET IDENTITY_INSERT [dbo].[Customer] ON 
INSERT [dbo].[Customer] ([CustomerID], [Name], [Email], [Password], [Phone]) VALUES (1, N'Sara Ahmed', N'sara@test.com', N'1234', N'0109999999')
INSERT [dbo].[Customer] ([CustomerID], [Name], [Email], [Password], [Phone]) VALUES (2, N'Mohamed Ali', N'mohamed@test.com', N'1234', N'0118888888')
INSERT [dbo].[Customer] ([CustomerID], [Name], [Email], [Password], [Phone]) VALUES (3, N'harby', N'ahmedezzatallamshaker@gmail.com', N'123', N'0114674371')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO

SET IDENTITY_INSERT [dbo].[Delivery] ON 
INSERT [dbo].[Delivery] ([DeliveryID], [Status], [OrderID], [AgentID]) VALUES (9, N'Picked Up', 1, 1)
SET IDENTITY_INSERT [dbo].[Delivery] OFF
GO

SET IDENTITY_INSERT [dbo].[DeliveryAgent] ON 
INSERT [dbo].[DeliveryAgent] ([AgentID], [Name], [Phone], [VehicleType]) VALUES (1, N'Hassan Driver', N'0105555555', N'Motorcycle')
SET IDENTITY_INSERT [dbo].[DeliveryAgent] OFF
GO

SET IDENTITY_INSERT [dbo].[MenuItem] ON 
INSERT [dbo].[MenuItem] ([ItemID], [Name], [Price], [BranchID], [CategoryID]) VALUES (1, N'Liver Sandwich', CAST(160.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[MenuItem] ([ItemID], [Name], [Price], [BranchID], [CategoryID]) VALUES (2, N'Sausage Sandwich', CAST(40.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[MenuItem] ([ItemID], [Name], [Price], [BranchID], [CategoryID]) VALUES (3, N'Super Supreme Pizza', CAST(180.00 AS Decimal(10, 2)), 2, 1)
SET IDENTITY_INSERT [dbo].[MenuItem] OFF
GO

INSERT [dbo].[OrderDetail] ([OrderID], [ItemID], [Quantity], [Price]) VALUES (1, 3, 1, CAST(180.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetail] ([OrderID], [ItemID], [Quantity], [Price]) VALUES (1, 4, 1, CAST(20.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetail] ([OrderID], [ItemID], [Quantity], [Price]) VALUES (2, 1, 1, CAST(35.00 AS Decimal(10, 2)))
GO

SET IDENTITY_INSERT [dbo].[Orders] ON 
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [TotalAmount], [CustomerID], [BranchID], [PromoID]) VALUES (1, CAST(N'2025-12-13T22:01:14.093' AS DateTime), CAST(200.00 AS Decimal(10, 2)), 1, 2, NULL)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [TotalAmount], [CustomerID], [BranchID], [PromoID]) VALUES (2, CAST(N'2025-12-13T22:01:14.093' AS DateTime), CAST(75.00 AS Decimal(10, 2)), 2, 1, NULL)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [TotalAmount], [CustomerID], [BranchID], [PromoID]) VALUES (3, CAST(N'2025-12-23T23:13:15.737' AS DateTime), CAST(160.00 AS Decimal(10, 2)), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO

SET IDENTITY_INSERT [dbo].[Payment] ON 
INSERT [dbo].[Payment] ([PaymentID], [Amount], [Method], [Status], [OrderID]) VALUES (9, CAST(200.00 AS Decimal(10, 2)), N'Credit Card', N'Completed', 1)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO

SET IDENTITY_INSERT [dbo].[Restaurant] ON 
INSERT [dbo].[Restaurant] ([RestaurantID], [Name], [Description], [LogoURL]) VALUES (1, N'El Prince', N'The King of Liver and Sausage', N'prince.jpg')
INSERT [dbo].[Restaurant] ([RestaurantID], [Name], [Description], [LogoURL]) VALUES (2, N'Pizza Hut', N'Hot and Fresh Pizza', N'pizzahut.jpg')
INSERT [dbo].[Restaurant] ([RestaurantID], [Name], [Description], [LogoURL]) VALUES (3, N'Bazooka', N'Crispy Chicken & Happiness', N'bazooka.jpg')
SET IDENTITY_INSERT [dbo].[Restaurant] OFF
GO

SET IDENTITY_INSERT [dbo].[Review] ON 
INSERT [dbo].[Review] ([ReviewID], [Rating], [Comment], [OrderID]) VALUES (8, 5, N'Great Pizza!', 1)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO

SET IDENTITY_INSERT [dbo].[ShoppingCart] ON 
INSERT [dbo].[ShoppingCart] ([CartID], [CustomerID], [Quantity], [MenuItemId]) VALUES (24, 3, 2, 6)
SET IDENTITY_INSERT [dbo].[ShoppingCart] OFF
GO


CREATE NONCLUSTERED INDEX [IX_Address_CustomerID] ON [dbo].[Address]
(
	[CustomerID] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_Branch_CuisineID] ON [dbo].[Branch]
(
	[CuisineID] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_Branch_RestaurantID] ON [dbo].[Branch]
(
	[RestaurantID] ASC
)
GO

CREATE UNIQUE NONCLUSTERED INDEX [UQ__Customer__A9D10534FBDFAC60] ON [dbo].[Customer]
(
	[Email] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_Delivery_AgentID] ON [dbo].[Delivery]
(
	[AgentID] ASC
)
GO

CREATE UNIQUE NONCLUSTERED INDEX [UQ__Delivery__C3905BAEF121E72F] ON [dbo].[Delivery]
(
	[OrderID] ASC
)
WHERE ([OrderID] IS NOT NULL)
GO

CREATE NONCLUSTERED INDEX [IX_MenuItem_BranchID] ON [dbo].[MenuItem]
(
	[BranchID] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_MenuItem_CategoryID] ON [dbo].[MenuItem]
(
	[CategoryID] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_OrderDetail_ItemID] ON [dbo].[OrderDetail]
(
	[ItemID] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_Orders_BranchID] ON [dbo].[Orders]
(
	[BranchID] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_Orders_CustomerID] ON [dbo].[Orders]
(
	[CustomerID] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_Orders_PromoID] ON [dbo].[Orders]
(
	[PromoID] ASC
)
GO

CREATE UNIQUE NONCLUSTERED INDEX [UQ__Payment__C3905BAEB581CB49] ON [dbo].[Payment]
(
	[OrderID] ASC
)
WHERE ([OrderID] IS NOT NULL)
GO

CREATE UNIQUE NONCLUSTERED INDEX [UQ__Review__C3905BAE9D5387EA] ON [dbo].[Review]
(
	[OrderID] ASC
)
WHERE ([OrderID] IS NOT NULL)
GO

-- إضافة العلاقات (Foreign Keys)
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[ShoppingCart] ADD  CONSTRAINT [DF__ShoppingC__Quant__01142BA1]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK__Address__Custome__45F365D3] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK__Address__Custome__45F365D3]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK__Branch__CuisineI__49C3F6B7] FOREIGN KEY([CuisineID])
REFERENCES [dbo].[Cuisine] ([CuisineID])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK__Branch__CuisineI__49C3F6B7]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK__Branch__Restaura__48CFD27E] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurant] ([RestaurantID])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK__Branch__Restaura__48CFD27E]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK__Delivery__AgentI__60A75C0F] FOREIGN KEY([AgentID])
REFERENCES [dbo].[DeliveryAgent] ([AgentID])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK__Delivery__AgentI__60A75C0F]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK__Delivery__OrderI__5FB337D6] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK__Delivery__OrderI__5FB337D6]
GO
ALTER TABLE [dbo].[MenuItem]  WITH CHECK ADD  CONSTRAINT [FK__MenuItem__Branch__4CA06362] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branch] ([BranchID])
GO
ALTER TABLE [dbo].[MenuItem] CHECK CONSTRAINT [FK__MenuItem__Branch__4CA06362]
GO
ALTER TABLE [dbo].[MenuItem]  WITH CHECK ADD  CONSTRAINT [FK__MenuItem__Catego__4D94879B] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[MenuItem] CHECK CONSTRAINT [FK__MenuItem__Catego__4D94879B]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__ItemI__5BE2A6F2] FOREIGN KEY([ItemID])
REFERENCES [dbo].[MenuItem] ([ItemID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__ItemI__5BE2A6F2]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Order__5AEE82B9] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__Order__5AEE82B9]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__BranchID__5629CD9C] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branch] ([BranchID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__BranchID__5629CD9C]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Customer__5535A963] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__Customer__5535A963]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__PromoID__571DF1D5] FOREIGN KEY([PromoID])
REFERENCES [dbo].[Promotion] ([PromoID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__PromoID__571DF1D5]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK__Payment__OrderID__6477ECF3] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK__Payment__OrderID__6477ECF3]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK__Review__OrderID__693CA210] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK__Review__OrderID__693CA210]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK__ShoppingC__Custo__5165187F] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK__ShoppingC__Custo__5165187F]
GO